<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div th:fragment="home-header">
    <header id="navbar" class="overflow-hidden">
        <div class="container">
            <div class="nav">
                <div class="center is-hidden position-relative" id="search_container">
                    <div class="nav-item full-width full-height">
                        <i class="fa fa-search has-padding" aria-hidden="true"></i>
                        <input type="text" id="search_input" class="search-input full-height full-width" placeholder="Search post" autofocus>
                        <i id="close_search" class="fa fa-times" aria-hidden="true"></i>
                    </div>
                    <a id="search_result"><li> asasvavasvas</li> </a>
                    <hr width="100%" style="margin-top:-5px;border:1px solid yellow;"/>
                    <a id="search_result"><li> asasvavasvas</li> </a>
                    <hr width="100%" style="margin-top:-5px;border:1px solid yellow;"/>
                    <a id="search_result"><li> asasvavasvas</li> </a>
                </div>

                <div class="nav-right nav-menu">
                    <a class="nav-item" id="search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>


                    <a class="nav-item" href="/">
                        最新文章
                    </a>
                    <a class="nav-item" href="/hotArticles" >
                        热门文章
                    </a>
                    <a class="nav-item" href="/login" th:if="${user == null}">
                        登陆|注册
                    </a>
                    <a class="nav-item" href="/personalBlog" th:if="${user != null}">
                        个人首页
                    </a>
                    <a class="nav-item" href="/personalBlog" th:if="${user != null}">
                        站内信
                    </a>
                    <a class="nav-item" href="/personalBlog" th:if="${user != null}">
                        写文章
                    </a>
                </div>
                <span class="nav-toggle" id="navMenuDropdown">
            <span></span>
            <span></span>
            <span></span>
        </span>

            </div>
        </div>
    </header>
</div>
</html>