<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../OSCHINA%20社区积分规则（2017%20年%2011%20月修订版）%20-%20开源中国_files/web.css">

</head>
<body>
<div th:replace="home_header::home-header"></div>
<div class="item blog-item" data-id="3029031">
    <div class="content">
        <a class="header" href="https://my.oschina.net/yunqi/blog/3029031" target="_blank" title="边缘计算时代来了，你准备好了吗？">
            边缘计算时代来了，你准备好了吗？
            <div class="ui teal label horizontal" data-tooltip="原创">原</div>
            <div class="ui orange label horizontal" data-tooltip="推荐">荐</div>
        </a>
        <div class="description">
            <p class="line-clamp">边缘计算已成为物联网（IoT）的重要趋势，高德纳咨询公司将边缘计算确定为2019年的最佳技术趋势之一。提供物联网解决方案的公司看到了在更接近产生数据的地方处理数据带来的价值。最近Forre...</p>
        </div>
        <div class="extra">
            <div class="ui horizontal list">
                <div class="item"><a href="https://my.oschina.net/yunqi" target="_blank">阿里云云栖社区</a></div>
                <div class="item">今天 10:42</div>

                <div class="item"><i class="eye icon"></i> 142</div>
                <div class="item"><a href="https://my.oschina.net/yunqi/blog/3029031#comments" target="_blank"><i class="comment outline icon"></i> 0</a></div>

                <div class="item"><i class="like outline icon"></i> 1</div>
            </div>
        </div>
    </div>
</div>
<div class="comments-wrap" id="comments">
<div class="comments-header-tabs">
    <div class="ui pointing secondary green menu">
        <a class="item " href="https://www.oschina.net/question/2918182_2268983?sort=default">最多投票</a>
        <a class="item  active " href="https://www.oschina.net/question/2918182_2268983?sort=time">最新</a>
    </div>
</div>
<div class="answers-list">
<div class="comment answer " id="answer_1362881" data-answer-id="1362881" data-answer-hash="-1536456098">
    <div class="answer-left">
        <div class="vote-wrap">
            <div class="vote-btn vote-up "><i class="caret up icon"></i></div>
            <div class="vote-count">0</div>
            <div class="vote-btn vote-down "><i class="caret down icon"></i></div>
        </div>
        <div class="best-answer">
        </div>
    </div>
    <div class="answer-content-wrap">

        <a class="ui circular image avatar" href="https://my.oschina.net/iyinghui" target="_blank">
            <div class="osc-avatar small-portrait _35x35" title="颖辉小居" data-user-id="2507499">
                <img src="../OSCHINA%20社区积分规则（2017%20年%2011%20月修订版）%20-%20开源中国_files/2507499_50.jpg" alt="颖辉小居" title="颖辉小居">
            </div>
        </a>
        <div class="content">
            <a class="author" href="https://my.oschina.net/iyinghui" target="_blank">颖辉小居</a>
            <div class="metadata">
                <span class="date">2018/05/14 10:06</span>
            </div>
            <div class="text" data-emoji-render="">
                <p>活跃积分到底怎么得到，举报广告+其他？里面的其他怎么理解？</p>

            </div>
            <div class="actions">
                <a class="reply"><i class="comment outline icon"></i> 评论 (<span class="reply-count">1</span>)</a>
                <a href="https://www.oschina.net/question/answer?question=2268983&amp;answer=1362881" check-login=""><i class="share icon"></i> 引用此回贴</a>

                <a class="ban" ban-report="" data-id="1362881" data-obj-type="17" data-url="https://www.oschina.net/question/2918182_2268983#answer_1362881"><i class="ban icon"></i> 举报</a>
            </div>
        </div>

        <div class="replies-wrap" data-page="1">
            <div class="comments">
                <div class="comment reply" id="answer_reply_1363269" data-answer-id="1363269" data-answer-hash="-281839628">
                    <a class="ui circular image avatar" href="https://my.oschina.net/editorial-story" target="_blank">
                        <div class="osc-avatar small-portrait _35x35" title="编辑部的故事" data-user-id="2918182">
                            <img src="../OSCHINA%20社区积分规则（2017%20年%2011%20月修订版）%20-%20开源中国_files/50x50(1)" alt="编辑部的故事" title="编辑部的故事">
                        </div>
                    </a>
                    <div class="content">
                        <a class="author" href="https://my.oschina.net/editorial-story" target="_blank">编辑部的故事</a>
                        <div class="metadata">
                            <span class="date">2018/05/15 15:39</span>
                        </div>
                        <div class="text" data-emoji-render="">
                            举报垃圾帖，管理员处理后即可获得一个活跃积分。
                            其他是指社区举办活动时，有时会赠予活跃积分作为奖励。
                        </div>
                        <div class="actions">
                            <a class="reply" data-atwho="编辑部的故事"><i class="comment outline icon"></i> 回复</a>
                            <a class="ban" ban-report="" data-id="1363269" data-obj-type="17" data-url="https://www.oschina.net/question/2918182_2268983#answer_reply_1362881"><i class="ban icon"></i> 举报</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="comment answer " id="answer_1362761" data-answer-id="1362761" data-answer-hash="-262762465">
    <div class="answer-left">
        <div class="vote-wrap">
            <div class="vote-btn vote-up "><i class="caret up icon"></i></div>
            <div class="vote-count">0</div>
            <div class="vote-btn vote-down "><i class="caret down icon"></i></div>
        </div>
        <div class="best-answer">
        </div>
    </div>
    <div class="answer-content-wrap">

        <a class="ui circular image avatar" href="https://my.oschina.net/SamXIAO" target="_blank">
            <div class="osc-avatar small-portrait _35x35" title="SamXIAO" data-user-id="1402175">
                <img src="../OSCHINA%20社区积分规则（2017%20年%2011%20月修订版）%20-%20开源中国_files/50x50(2)" alt="SamXIAO" title="SamXIAO">
            </div>
        </a>
        <div class="content">
            <a class="author" href="https://my.oschina.net/SamXIAO" target="_blank">SamXIAO</a>
            <div class="metadata">
                <span class="date">2018/05/12 18:33</span>
            </div>
            <div class="text" data-emoji-render="">
                <p>今天似乎得到了1个活跃积分</p>

            </div>
            <div class="actions">
                <a class="reply"><i class="comment outline icon"></i> 评论 (<span class="reply-count">2</span>)</a>
                <a href="https://www.oschina.net/question/answer?question=2268983&amp;answer=1362761" check-login=""><i class="share icon"></i> 引用此回贴</a>

                <a class="ban" ban-report="" data-id="1362761" data-obj-type="17" data-url="https://www.oschina.net/question/2918182_2268983#answer_1362761"><i class="ban icon"></i> 举报</a>
            </div>
        </div>

        <div class="replies-wrap" data-page="1">
            <div class="comments">
                <div class="comment reply" id="answer_reply_1363857" data-answer-id="1363857" data-answer-hash="306057510">
                    <a class="ui circular image avatar" href="https://my.oschina.net/SamXIAO" target="_blank">
                        <div class="osc-avatar small-portrait _35x35" title="SamXIAO" data-user-id="1402175">
                            <img src="../OSCHINA%20社区积分规则（2017%20年%2011%20月修订版）%20-%20开源中国_files/50x50(2)" alt="SamXIAO" title="SamXIAO">
                        </div>
                    </a>
                    <div class="content">
                        <a class="author" href="https://my.oschina.net/SamXIAO" target="_blank">SamXIAO</a>
                        <div class="metadata">
                            <span class="date">2018/05/17 16:28</span>
                        </div>
                        <div class="text" data-emoji-render="">
                            <a href="https://my.oschina.net/editorial-story" target="_blank">@编辑部的故事</a> 回复<a href="https://my.oschina.net/editorial-story" class="referer" target="_blank">@编辑部的故事</a> : 没有，应该是当天发的动态条数多吧
                        </div>
                        <div class="actions">
                            <a class="reply" data-atwho="SamXIAO"><i class="comment outline icon"></i> 回复</a>
                            <a class="ban" ban-report="" data-id="1363857" data-obj-type="17" data-url="https://www.oschina.net/question/2918182_2268983#answer_reply_1362761"><i class="ban icon"></i> 举报</a>
                        </div>
                    </div>
                </div>
                <div class="comment reply" id="answer_reply_1363271" data-answer-id="1363271" data-answer-hash="1096380683">
                    <a class="ui circular image avatar" href="https://my.oschina.net/editorial-story" target="_blank">
                        <div class="osc-avatar small-portrait _35x35" title="编辑部的故事" data-user-id="2918182">
                            <img src="../OSCHINA%20社区积分规则（2017%20年%2011%20月修订版）%20-%20开源中国_files/50x50(1)" alt="编辑部的故事" title="编辑部的故事">
                        </div>
                    </a>
                    <div class="content">
                        <a class="author" href="https://my.oschina.net/editorial-story" target="_blank">编辑部的故事</a>
                        <div class="metadata">
                            <span class="date">2018/05/15 15:39</span>
                        </div>
                        <div class="text" data-emoji-render="">
                            举报垃圾帖了？
                        </div>
                        <div class="actions">
                            <a class="reply" data-atwho="编辑部的故事"><i class="comment outline icon"></i> 回复</a>
                            <a class="ban" ban-report="" data-id="1363271" data-obj-type="17" data-url="https://www.oschina.net/question/2918182_2268983#answer_reply_1362761"><i class="ban icon"></i> 举报</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
    <div class="ui basic center aligned segment pagination-wrap">
        <div class="ui pagination menu">
            <a class="disabled item prev-item">&lt;</a>
            <a href="https://www.oschina.net/question/2918182_2268983?sort=time&amp;p=1" class="active item page-num-item">1</a>
            <a href="https://www.oschina.net/question/2918182_2268983?sort=time&amp;p=2" class="item page-num-item">2</a>
            <a href="https://www.oschina.net/question/2918182_2268983?sort=time&amp;p=3" class="item page-num-item">3</a>
            <a href="https://www.oschina.net/question/2918182_2268983?sort=time&amp;p=4" class="item page-num-item">4</a>
            <a href="https://www.oschina.net/question/2918182_2268983?sort=time&amp;p=5" class="item page-num-item">5</a>
            <a href="https://www.oschina.net/question/2918182_2268983?sort=time&amp;p=6" class="item page-num-item">6</a>
            <a href="https://www.oschina.net/question/2918182_2268983?sort=time&amp;p=2" class="item next-item">&gt;</a>
        </div>
    </div>
</div>
</body>
</html>